In [1]:
import pandas as pd
from pandas import DataFrame, Series

In [2]:
data_root_dir = '..\..\cdp-unlocking-climate-solutions'
data_cities_dir = data_root_dir + '\cities\cities responses\\'

In [3]:
file = '%s\\2020_Full_Cities_Dataset.csv' % data_cities_dir

dataframe = pd.read_csv(file)

In [6]:
dataframe.head().to_clipboard()

In [20]:
dataframe_cities_disc = pd.read_csv(data_root_dir + "\Cities\Cities Disclosing\\2018_Cities_Disclosing_to_CDP.csv")

In [23]:
dataframe_cities_disc.head()
dataframe_cities_disc[dataframe_cities_disc['City'] == 'Atlanta']

,Year Reported to CDP,Account Number,Organization,City,Country,CDP Region,Reporting Authority,Access,First Time Discloser,Population,Population Year,City Location,Last update
464,2018,1093,City of Atlanta,Atlanta,United States of America,North America,CDP Cities,public,No,450182.0,2017,POINT (-84.388 33.749),2020-06-25T04:52:49.050

In [6]:
groupby_cities_disc = dataframe_cities_disc.groupby('Country')

In [7]:
# instantiate output dataframe
# for each group in input dataframe
    # add row to output dataframe

def get_count_distinct(dframe,column):
    return Series({'count':dframe[column].unique()})

dataframe_output = dataframe_cities_disc.groupby(['Country']).size()

In [9]:
DataFrame(dataframe_output).sort_values([0], ascending=False)

                            0
Country
United States of America  162
Brazil                     96
Portugal                   27
Italy                      25
Canada                     25
...                       ...
Montenegro                  1
Pakistan                    1
Paraguay                    1
Russian Federation          1
Malaysia                    1

[88 rows x 1 columns]

In [11]:
dframe = pd.read_csv(data_root_dir + "\Cities\Cities Responses\\2018_Full_Cities_Dataset.csv")

In [18]:
from sqlalchemy import create_engine
engine = create_engine('mssql+pyodbc://@Local')

In [1]:
dframe.to_sql('2018_Full_Cities_Dataset',engine)

NameError: name 'dframe' is not defined

In [ ]:
# dataframe[['question_number','question_name']][dataframe['question_number'].str.contains('.')].drop_duplicates().to_clipboard()
df = dataframe
# df[['question_number','question_name']][df['question_number'].str.contains('\.0')].drop_duplicates().sort_values(by='question_number').to_clipboard()


# df[(df['question_number']=='12.4') & (~df['response_answer'].isin(['Question not applicable','No',np.nan,'Yes','Do not know','0','Not applicable']))][['response_answer']].groupby('response_answer',as_index=False).size().sort_values('size',ascending=False).to_clipboard()